<app-nav-bar></app-nav-bar>
<!-- src/app/movie-card/movie-card.component.html -->
<div class="main-wrap">
  <mat-card *ngFor="let documentary of documentaries; let i = index">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">{{
        documentary.Title
      }}</mat-card-title>
    </mat-card-header>

    <img
      src="{{ documentary.ImagePath }}"
      alt="{{ documentary.Title }}"
      class="card-image"
    />
    <mat-card-actions class="buttons">
      <button
        mat-raised-button
        (click)="
          openDetails(
            documentary.Title,
            documentary.ImagePath,
            documentary.Description,
            documentary.Genre.Name,
            documentary.Director.Name
          )
        "
      >
        Details
      </button>
      <button
        mat-raised-button
        (click)="
          openGenre(documentary.Genre.Name, documentary.Genre.Description)
        "
      >
        Genre
      </button>
      <button
        mat-raised-button
        (click)="
          openDirector(
            documentary.Director.Name,
            documentary.Director.Bio,
            documentary.Director.Birth,
            documentary.Director.Death
          )
        "
      >
        Director
      </button>
    </mat-card-actions>
  </mat-card>
</div>
